* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  background-color: #0c2340;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 2;
}

.navbar .logo a {
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-style: italic;
}

.logo img {
  vertical-align: top;
  width: 50px;
}

.elementos-nav {
  width: 30%;
  display: flex;
  align-items: center;
}

.navbar .elementos-nav a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  flex-grow: 1;
  text-transform: uppercase;
}

.navbar .elementos-nav a:hover {
  color: rgb(34, 133, 255)
}

.registro a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  margin-right: 10px;
}

.registro a:hover {
  color: rgb(34, 133, 255);
}

.registro button {
  background-color: #0072CE;
  border: none;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  width: 110px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: url('./img/portada.png');
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.portada p {
  margin-left: 100px;
  letter-spacing: 1px;
  z-index: 1;
  font-style: italic;
}

.portada-titulo {
  font-size: 60px;
  font-style: italic;
  font-weight: 900px;
}

.sombra {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.seccion-about {
  width: 100%;
  background-color: rgb(1, 4, 10);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.seccion-about p {
  color: rgb(221, 219, 219);
  width: 30em;
  padding: 20px;
  letter-spacing: 1px;
  text-align: start;
  font-size: 15px;
}

.seccion-about h2 {
  color: rgb(221, 219, 219);
  padding: 30px; /* esto jode en resoluciones mas chicas, arreglar despues*/
  letter-spacing: 1px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}

.imagen-about {
  background-image: url('./img/about-img.jpg');
  width: 40%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
  min-width: 300px;
}

.seccion-roster {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 4, 10);
}

.seccion-roster h2 {
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  font-style: italic;
  font-weight: 700px;
}

.container-carusel {
  width: 40%;
  margin-top: 20px;
  margin-bottom: 150px;
  min-width: 400px;
}

.roster-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  margin: 20px;
  transition: 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 95%;
  object-fit: cover;
}

.nombre-jugador {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0072CE;
}

.card p {
  font-size: 25px;
  margin: 0;
  padding: 5px;
  color: #fff;
  text-shadow: 0 0 10px #FFFFFF;
  font-style: italic;
}

.seccion-contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(20, 29, 43);
  height: 80vh;
  color: #fff;
}

input {
  width: 35%;
  height: 8%;
}

.seccion-contacto button {
  padding: 10px;
  background-color: #0072CE;
  border: none;
  color: #fff;
  width: 100px;
  font-size: 15px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 24vh;
  background-color: rgb(32, 31, 31);
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-logo img {
  width: 10%;
  vertical-align: top;
}

.footer-logo a {
  line-height: 96px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-style: italic;
}

footer p {
  color: #fff;
  font-size: 13px;
}

.hamburger {
  position: fixed;
  top: 1.3rem;
  right: 1rem;
  z-index: 5;
  display: none;
  border: none;
  background: transparent;
  color: white;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(29, 29, 29);
  transform: translateY(-100%);
  transition: transform 0.2s;
  list-style: none;
  padding-top: 4rem;
  z-index: 2;
  text-align: center;
}

.menuLink {
  display: inline;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-style: italic;
}

.show-menu {
  transform: translateY(0);
}

@media screen and (max-width: 970px) {
  .hamburger {
    display: flex;
  }
  
  .elementos-nav, .registro {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

}